.insights {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

/* === Charts === */
.insights__charts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin: 0 0 24px;
}

.insights__chart {
  background: rgba(15, 23, 42, 0.6);
  border: 1px solid #334155;
  border-radius: 24px;
  padding: 32px;
}

.insights__chart-title {
  margin: 0 0 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* === Achievements === */
.insights__achievements {
  display: flex;
  flex-direction: column;
}

.insights__achievement-header {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 16px;
}

.insights__achievement-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
}

.insights__achievement {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 22px;
  border-radius: 16px;
  backdrop-filter: blur(6px);
}

.insights__achievement-icon {
  font-size: 30px;
}

.insights__achievement-title {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.insights__achievement-desc {
  color: #90a1b9;
  font-size: 14px;
  margin: 0;
}

.insights__achievement--yellow {
  background: linear-gradient(to bottom right, #facc1520, #f9731620);
  border: 1px solid #facc1530;
}

.insights__achievement--orange {
  background: linear-gradient(to bottom right, #fb923c20, #ef444420);
  border: 1px solid #fb923c30;
}

.insights__achievement--blue {
  background: linear-gradient(to bottom right, #06b6d420, #3b82f620);
  border: 1px solid #06b6d430;
}

@media (min-width: 768px) {
  .insights__charts {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 810px) {
  .insights__achievement-list {
    margin: 0 0 24px;
  }
  .insights__chart {
    padding: 24px;
  }
}
