.header {
  padding: 16px 0 0;
  margin: 0 0 32px;
}

.header__title {
  margin: 0;
  font-weight: 500;
  line-height: 36px;
}

.header__date {
  margin: 0;
  color: #90a1b9;
  font-weight: 400;
  line-height: 24px;
}

.header__subtitle {
  margin: 0;
  color: #90a1b9;
  font-weight: 400;
  line-height: 24px;
}
